<!DOCTYPE html>
<html lang="de">
<head>
  <title>Whack-A-Bot / Bits & Bäume Dresden</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="A simple gimmicky game for rC3 2021">
  <meta name="author" content="Bits & Bäume Dresden">
  <script src="/static/vue.min.js"></script>
  <script src="/static/axios.min.js"></script>
  <meta property="og:title" content="Whack-A-Bot">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://wab.tropf.io">
  <meta property="og:description" content="A simple gimmicky game for rC3 2021.">
  <meta property="og:image" content="https://wab.tropf.io/static/img/sharepic.png">
  <link rel="stylesheet" href="/static/spectre.min.css">
  <link rel="stylesheet" href="/static/spectre-icons.min.css">
  <style>
    #game { border: 1px solid lightgrey; margin: 1em auto; padding: 1em; max-width: 500px; }

    #wab-header img {
      height: 5rem; width: 100%;
      object-fit: cover; object-position:center
    }
    #wab-header h1 { margin: .5rem 0; text-align: center; }
    #wab-header .columns { align-items: center; }

    #wab-score .column { font-size: 1.75rem; font-weight: normal; }

    /* basic field settings */
    #wab-fields { margin-top: 1rem; }
    a.field {
      display: block;
      width: 140px; height: 140px;
      max-width: 28vw; max-height: 28vw; /* scale with viewport width */
      cursor: crosshair;
    }
    a.field .fieldimg { width: 100%; height: 100%; background-size: 100%; }
    /* field types */
    a.field.bot                     { background-color: lightblue; }
    a.field.bot .fieldimg           { background-image: url("/static/img/bot.png"); }
    a.field.bot_whacked             { background-color: rgb(93, 193, 226); }
    a.field.bot_whacked .fieldimg   { background-image: url("/static/img/bot_dead.png"); }
    a.field.baum                    { background-color: lightgreen;}
    a.field.baum .fieldimg          { background-image: url("/static/img/baum.png"); }
    a.field.baum_whacked            { background-color: rgb(85, 218, 85); }
    a.field.baum_whacked .fieldimg  { background-image: url("/static/img/baum_dead.png"); }
    /* transitions back to normal */
    a.field.none {
      background-color: lightgrey;
      transition: background-color .5s ease; /* .5s fadeout with no delay */
    }
    a.field.baum_whacked .fieldimg,
    a.field.bot_whacked .fieldimg {
      opacity: 0;
      transition: opacity .5s ease 1s; /* .5s fadeout with 1s delay */
    }

    #wab-askleaderboard { margin-top: 1rem; }

    #wab-leaderboards { margin-top: 1rem; }
    #wab-leaderboards .thatsme { background: pink; }
    #wab-leaderboards .table td,
    #wab-leaderboards .table th { padding: 0; }

    /* scale everything down for smaller viewports */
    @media screen and (max-width: 420px) {
      html { font-size: 16px;}
    }
    @media screen and (max-width: 340px) {
      html { font-size: 14px; }
    }
  </style>
</head>
<body>

<div id="game">

  <div class="container" id="wab-header">
      <div class="columns col-gapless">
          <div class="column col-2">
              <img class="p-centered" src="/static/img/bot_dead.png">
          </div>
          <div class="column col-8">
              <h1>Whack-A-Bot</h1>
          </div>
          <div class="column col-2">
              <img class="p-centered" src="/static/img/baum_dead.png">
          </div>
      </div>
  </div>

  <div class="container" id="wab-prestart" v-if="gameState == GameStates.ready || gameState == GameStates.ended">
    <div class="columns">
      <div class="column col-12">
        <button class="btn btn-success" style="width: 100%;" v-on:click="start">Runde Starten</button>
      </div>
      <div class="column col-12">
          <button class="btn btn-link float-right" v-on:click="getLeaderboards">Bestenliste</button>
      </div>
    </div>
  </div>

  <ul class="container" id="wab-errors">
    <li class="toast toast-error" v-for="(e,idx) in displayedErrors">
      <button class="btn btn-clear float-right" v-on:click="$delete(displayedErrors, idx)"></button>
      {{ e }}
    </li>
  </ul>

  <div class="container" id="wab-score">
    <div class="columns col-gapless">
      <div class="column col-6 text-left">
        <i class="icon icon-resize-vert"></i>
        <code>{{ score }}</code>
      </div>
      <div class="column col-6 text-right">
        <i class="icon icon-time"></i>
        <code>{{ (timeRemainMs/1000).toFixed(1) }}&nbsp;s</code>
      </div>
    </div>
  </div>

  <div class="container" id="wab-fields" v-if="gameState == GameStates.started">
    <div class="columns">
      <div class="column col-4 py-2"
        v-for="field in fields">
        <a class="field s-circle"
          v-bind:key="field.id"
          v-bind:class="field.whacked?field.type.whacked_class:field.type.class"
          v-on:click="whack(field)">
          <div class="fieldimg"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="container" id="wab-askleaderboard" v-if="leaderboardPos">
    <div class="columns">
      <div class="column col-12 p-centered">
        <h3>Fertig!</h3>
      </div>
      <div class="column col-12">
        <p>
            Du hast {{ score }} Punkte erreicht und bist damit {{ leaderboardPos }}. im
            <span v-if="'bot' == leaderboardName">Bots</span>
            <span v-if="'baum' == leaderboardName">Bäume</span>
            verdreschen (in den letzten 12 Stunden)!
        </p>
        <form @submit="storeResult" v-if="leaderboardPos">
            <p>
                Um Badges zu erhalten und dich auf der Bestenliste zu verewigen, teile uns deinen Namen mit:
            </p>
            <div class="input-group" style="width:100%">
                <input type="text" class="form-input" placeholder="Name" v-model="username" required="required">
                <input type="submit" class="btn btn-success input-group-btn" value="Verewigen¹">
            </div>
            <small>¹ für max. 12 Stunden</small>
        </form>
      </div>
    </div>
  </div>

  <div class="container" v-if="leaderboards" id="wab-leaderboards">
    <div class="columns">
      <div class="column col-12" v-for="(entries,title) in leaderboards">
        <h3 class="mt-2" v-if="'baum' == title">Bäume verdreschen</h3>
        <h3 class="mt-2" v-if="'bot' == title">Bots verdreschen</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Pos.</th>
              <th>Punkte</th>
              <th>Name</th>
              <th>Wann</th>
            </tr>          </thead>
          <tbody>
            <tr v-for="entry in entries" v-bind:class="{ 'thatsme':(entry.name == username) }">
              <td>{{ entry.pos }}.</td>
              <td>{{ entry.score }}</td>
              <td>{{ entry.name }}</td>
              <td>{{ entry.when }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<script>

// Gameplay Settings
const NumFields = 9;
const FieldTypes = {
  none: { score: 0, class: 'none', whacked_class: 'none' },
  bot: { score: 1, class: 'bot', whacked_class: 'bot_whacked' },
  baum: { score: -1, class: 'baum', whacked_class: 'baum_whacked' },
}
const StayTimeMs = 750;
const RoundDurationMs = 30e3;
const numTotalPops = 45;


const GameStates = {
  ready: 0,
  started: 1,
  ended: 2
};
const randomInt = function(maxval) {
  return Math.floor(Math.random() * maxval)
}
const randomProperty = function (obj) {
    var keys = Object.keys(obj);
    return obj[keys[ keys.length * Math.random() << 0]];
};

var app = new Vue({

  el: '#game',

  data: {
    fields: [],
    gameID : '',
    gameState: GameStates.ready,
    score: 0,
    displayedErrors: [],
    timeRemainMs: RoundDurationMs,
    timer: false,
    popEvents: [],
    leaderboardPos: false,
    leaderboardName: false,
    leaderboards: false,
    username: '',
  },

  created: function() { this.init(); },

  methods: {

    init: function() {
      console.log('initializing game');
      this.fields = [];
      for(id=0; id<NumFields; id++) {
        this.fields.push({
          id: id, type: FieldTypes.none, wacked: false,
        });
      }
      this.score = 0;
      this.gameState = GameStates.ready;
      this.popEvents = [];
    },

    randomize: function() {
      console.log('randomizing state');
      //for(field in this.fields) {
      this.fields.forEach((field) => {
        this.setFieldType(field, randomProperty(FieldTypes));
      });
    },

    setFieldType: function(field, fieldType, whacked=false) {
      console.log('[setFieldType] setting field ' + field.id + ' to ' + fieldType.class + ', whacked=' + whacked );
      field.type = fieldType;
      field.whacked = whacked;
    },

    start: function() {

      this.init();

      // reset state
      this.leaderboardPos = false;
      this.leaderboardName = false;
      this.leaderboards = false;

      // get GameID from server
      axios.post('/api/getGameID')
      .then((response) => {
        console.log('Got game ID ' + response.data.gameID);
        this.gameID = response.data.gameID;
      })
      .catch((error) => {
        this.displayedErrors.push('Error: Could not get game ID. You can play but not submit your score.')
        console.log(error);
      });

      // start counter
      this.gameState = GameStates.started;
      this.timeEndMs = +new Date() + RoundDurationMs; // + means cast to int
      this.timer = setInterval(this.timerTick, 100); // 1/10s

      // register some events to pop fields
      for(let i=0; i < numTotalPops; i++) {
        let time = Math.random() * RoundDurationMs;
        let popEvent = setTimeout(this.pop, time);
        this.popEvents.push(popEvent)
        //console.log('registered pop event at '+time+' ms')
      }
    },

    timerTick: function() { // fired every 1/10s while game is running
      this.timeRemainMs = this.timeEndMs - +new Date();
      //console.log('tick! ' + timeRemainMs + ' remaining');
      if(this.timeRemainMs <= 0) this.end();
    },

    pop: function() {
      // choose field that is empty
      let f;
      while(true) {
        f = randomProperty(this.fields);
        if(f.type === FieldTypes.none) break;
      }
      // choose type of field (not the empty type)
      let t;
      while(true) {
        t = randomProperty(FieldTypes);
        if(t !== FieldTypes.none) break;
      }
      this.setFieldType(f, t);
      // reset after `stayTimeMs`
      popEvent = setTimeout(() => {
        if(!f.whacked) { // only reset if not whacked in the meantime, because that has its own reset timer
          console.log('resetting field ' + f.id + ' after ' + StayTimeMs + ' ms');
          this.setFieldType(f, FieldTypes.none);
        }
      }, StayTimeMs);
      
    },

    whack: function(field) {
      if(this.gameState == GameStates.ready || this.gameState == GameStates.ended) this.start();
      console.log('whacked field with id '+field.id
        +' ('+field.type.class+', '+field.type.score+' points)');
      if(field.type.score != 0) {
        this.score += field.type.score;
        this.setFieldType(field, field.type, true); // whacked = true for 1s, then set to none
        setTimeout(() => { this.setFieldType(field, FieldTypes.none) }, 1000);
      }
    },

    end: function() {
      clearInterval(this.timer);
      // clear remaining pop events, if any
      // no handling of already passed event IDs needed, because
      // "Passing an invalid ID to clearTimeout() silently does nothing; no exception is thrown"
      // https://developer.mozilla.org/en-US/docs/Web/API/clearTimeout
      this.popEvents.forEach((e) => {clearTimeout(e)});
      this.gameState = GameStates.ended;
      this.askLeaderboard();
    },
    
    askLeaderboard: function() {
      console.log('asking for leaderpoard position with score ' + this.score)
      axios.get('/api/isLeaderboard', { params: {score: this.score} })
      .then((response) => {
        //console.log(response)
        this.leaderboardPos = response.data.pos
        this.leaderboardName = response.data.leaderboard
      })
      .catch((error) => {
        console.log(error);
        this.displayedErrors.push('Error: Could not ask for position on leaderboard.')
      });
    },

    storeResult: function(e) {
      axios.post('/api/storeResult', {
          gameID: this.gameID,
          score: this.score,
          name: this.username,
      })
      .then((response) => { console.log(response); })
      .catch((error) => { console.log(error); })
      this.getLeaderboards();
      e.preventDefault();
    },

    getLeaderboards: function() {
      axios.get('/api/getLeaderboards')
      .then((response) => {
        console.log(response);
        this.leaderboards = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
    },
  }
})
</script>
</body>
</html>
